In [ ]:
#1. Why Python?
#Easy to learn, powerful programming language
#Efficient high-level data structures
#Simple but effective approach to object-oriented programming
#Extensive standard libraries: freely available and open source
#Easy integration of C and C++ codes
#Various use cases integration (e.g. Website Development,
#Machine Learning, Visualisation / Plotting)

#2. How to install Python?
#2.1. Choosing Suitable Python Version
#a. Python 2.7
#b. Python 3.*
#c. IPython
#d. Latest Version:

#Windows - > 3.11.1
#Ubuntu - > 3.11 ( 3.10 / 3.8 Pre-installed)
#MAC - > 3.11.1
#2.2. Popular Python Editors
#a. Jupyter Notebook
#b. Spyder
#c. PyCharm
#d. Google Colab (GPU, TPU integration)
#2.3. A Compact Python Distribution
#Anaconda Distribution: IDE
#with a Package Manager (Conda) and Python Interpreter (https://www.anaconda.com/)

#2.4 Package Installation
#Run the following commands in Terminal (Linux) or in command prompt (Windows):
#a. conda install package_name (for anaconda distribution)
#b. pip install package_name' (for python 2.7 distribution)
#c. pip3 install 'package_name' (for python 3.* distribution)

#3. What are Some Popular Packages in Python?
#a. NumPy Numerical computing and routines with powerful numerical arrays objects
#b. SciPy High-level numerical routines, optimization, regression, interpolation, etc
#c. os Path, directory access, System Command
#d. SymPy Symbolic computing - algebric maniuplations, calculus, solving equations, etc
#e. Matplotlib / Mayavi (for 3D): Data visualization (plotting)
#f. Pillow / Scikit-image / OpenCV Image processing
#g. SciKit-learn Machine learning
#h. Pandas / Statsmodels / Seaborn Statistics
#i. Pytorch / Tensorflow / Keras Deep learning
#j. nltk Natural language processing
#k. Streamlit / wxPython / pyQT GUI toolkit
#l. Flask Local Server Connetion Toolkit
#m. BeautifulSoup Web scraping

#4. References
#a. https://www.scipy-lectures.org/intro/intro.html
#b. https://docs.python.org/2.7/tutorial/
#c. http://jupyter-notebook.readthedocs.io/en/stable/index.html
#d. https://pythontips.com/2013/07/30/20-python-libraries-you-cant-live-without/
#e. https://activewizards.com/blog/top-15-libraries-for-data-science-in-python/
#f. https://colab.research.google.com/notebooks/markdown_guide.ipynb

1. Printing and Commenting

In [ ]:
# This is  my first line of code
# Commenting technique
print('Hello Everyone!')
#Apply Newline
print("Hello\nWelcome To the Deep Learning Era!")
#Apply Space
print("Hello There! \t Welcome to this Event.")

Hello Everyone!
Hello
Welcome To the Deep Learning Era!
Hello There! 	 Welcome to this Event.

2. Data types in python
a. Integers
b. Floats
c. Character
d. Strings
e. Boolean
f. Complex Numbers

In [ ]:
# a. Integers

i = 4
print(i)
print(type(i))

4
<class 'int'>

In [ ]:
# b. Floats

f = 4.3
print(f)
print(type(f))

4.3
<class 'float'>

In [ ]:
# c. Character
char = 'a'
print(char)
print(type(char))

a
<class 'str'>

In [ ]:
# d. Strings:
x = "I am in ISI"
y = 'is a string.'
print(x, y)
print(type(x))

I am in ISI is a string.
<class 'str'>

In [ ]:
print(x, " This is a string ")

I am in ISI  This is a string

In [ ]:
print('This is a string two')
print("This is a string three")

s = "This is a string"
print(s)
print(type(s))

This is a string two
This is a string three
This is a string
<class 'str'>

In [ ]:
# f. Boolean
Yes = True
No = False

b = Yes
c = No
print(b)
print(c)
print(type(b))
print(type(c))
print(b + c, type(b+c), type(b or c))
print(b or c)

True
False
<class 'bool'>
<class 'bool'>
1 <class 'int'> <class 'bool'>
True

In [ ]:
# e. Complex Numbers

c1 = 2 + 3j
print(c1, type(c1))

(2+3j) <class 'complex'>

In [ ]:
c2 = complex(4,5)
print(c2, type(c2))

(4+5j) <class 'complex'>

In [ ]:
print(c1)
print(c2)
print(type(c1), type(c2))

(2+3j)
(4+5j)
<class 'complex'> <class 'complex'>

In [ ]:
print('\n')
print(c1.real, c2.real)
print(c1.imag, c2.imag)

2.0 4.0
3.0 5.0

Exercise 1: Swap two numbers by using a third variable

In [ ]:
#Swap a and b using a third variable c
a = 89
b = 65

c = a
a = b
b = c
print(a)
print(b)

65
89

Exercise 2: Swap two numbers without using a third variable

In [ ]:
#Swap a and b without using a third variable
a = 89
b = 65

a = a + b
b = a - b
a = a - b

print(a)
print(b)

65
89

3. Taking User Input

In [ ]:
# Use the function input() for Python3 
# Use the function raw_input() for Python2

inp = input('Input an integer:')
print("Displaying the input:", inp)
print(type(inp))

Input an integer:2
Displaying the input: 2
<class 'str'>

4. Type Conversion in Python
Types of casting in Python---
4.1 Implicit
4.2 Explicit

In [ ]:
#How to take integer input directly? Int + String will be an error

inp_1 = int(input("Enter an Input:"))
inp_2 = input("Enter Second Input:")
inp_3 = inp_1 + inp_2
print(inp_3)

Enter an Input:4
Enter Second Input:5

TypeError: ignored

In [ ]:
#By default the entered input is String
inp = int(inp)
print(type(inp))
print(inp)

<class 'int'>
2

In [ ]:
#How to take integer input directly?

inp_1 = int(input("Enter an Input:"))

inp_2 = int(input("Enter Second Input:"))

inp_3 = inp_1 + inp_2
print(inp_3)

Enter an Input:1
Enter Second Input:2
3

In [ ]:
# converting to integers
print(int(inp_1), type(int(inp_1)))
# converting to floats
print(float(inp_1), type(float(inp_2)))

1 <class 'int'>
1.0 <class 'float'>

In [ ]:
# type conversion and input in one line
ip2 = input('Enter an integer:')
x = int(ip2)
print(ip2, type(ip2), x, type(x))

Enter an integer:4
4 <class 'str'> 4 <class 'int'>

In [ ]:
# conversions to strings
i = 10
print(i, type(i))
print(str(i), type(str(i)))

10 <class 'int'>
10 <class 'str'>

In [ ]:
f = 0.5
print(f, type(f))
print(str(f), type(str(f)))

0.5 <class 'float'>
0.5 <class 'str'>

In [ ]:
s3 = '100+2j'
print(s3, type(s3), complex(s3), type(complex(s3)))

100+2j <class 'str'> (100+2j) <class 'complex'>

In [ ]:
# Implicit type-conversions

b1 = True
b2 = False
print(b1 + b2 + b1 + b1)

3

In [ ]:
# Zero is False, non-zeros values are True

print(bool(0))
print(bool(100))
print(bool(-100))

False
True
True

In [ ]:
a= True
b= True
c = False
print(a, b, type(a), type(b), float(a), int(b), float(c), str(a))

True True <class 'bool'> <class 'bool'> 1.0 1 0.0 True

In [ ]:
a= True
b= True
x = a + b
print(x,type(x))

2 <class 'int'>

Printing format

In [ ]:
# Some ways to print
a = 5.0
b = 6.0
print(a)
print(b)
print(a,b)

5.0
6.0
5.0 6.0

In [ ]:
print('This', a, 'is a', b)
print('This {} is a {}'.format(a , b))

This 5.0 is a 6.0
This 5.0 is a 6.0

In [ ]:
print('This {} is a {}'.format(a , b))
print('The number {} is greater than the number {}.'.format(b , a))

This 5.0 is a 6.0
The number 6.0 is greater than the number 5.0.

In [ ]:
# %d -> integer
# %f -> float
# %s -> string
print('This %.2f is a %.2f' %(a,b))
print('This %f is a %f' %(a,b))
print('This %s is a %s' %(a,b))
print('This %d is a %d' %(a,b))

This 5.00 is a 6.00
This 5.000000 is a 6.000000
This 5.0 is a 6.0
This 5 is a 6

Exercise 3: Take as input an integer and a float. Print the integer and the float. Also print their sum along with the type of the sum.

In [ ]:
i = int(input('Enter an integer:'))
f = float(input('Enter a float:'))

Enter an integer:4
Enter a float:5.2

In [ ]:
#int and float addition results float
s = i + f

print(s, type(s))

9.2 <class 'float'>

In [ ]:
x, y = input('Enter an integer:').split()

Enter an integer:75 68

In [ ]:
print(x,y)

75 68

5. Operators in python
a. Arithmetic operators
b. Assignments operators
c. Relational operators
d. Logical operators
e. Bitwise operators
f. Membership operators
g. Identity operators

5.1 Arithmetic operators

In [ ]:
# Arithmetic Operators

n1 = 6.5
n2 = 4
print(type(6.5), type(4))

<class 'float'> <class 'int'>

In [ ]:
print('Add', n1 + n2)
print('Subtract',n1 - n2)
print('Multiply',n1 * n2)
print('Division',n1 / n2)

Add 10.5
Subtract 2.5
Multiply 26.0
Division 1.625

In [ ]:
sum_1 = n1 + n2
subtract = n1 - n2
print('Add', sum_1, "; Substract", subtract)

Add 10.5 ; Substract 2.5

In [ ]:
print('Remainder (Division)',n1 % n2) # Remainder
print('Floor Division',n1 // n2) # Quotient
print('Normal Division',n1/n2)

Remainder (Division) 2.5
Floor Division 1.0
Normal Division 1.625

In [ ]:
#Exponentiation

print('Square',n2 ** 2)
print('Root',n2 ** 0.5)
print('\n')
print('Square Inverse',n2 ** -2)

Square 16
Root 2.0


Square Inverse 0.0625

5.2 Assignment operators

In [ ]:
# Assignment Operators

n3 = 10
n4 = 6
print(n3, n4)

10 6

In [ ]:
n3, n4, n5, n6, n7, n8 = 6, 10, 4.5, 'ISI', True, 10.9
print(n3, n4, n5, n6, n7)
print(type(n3), type(n7))

6 10 4.5 ISI True
<class 'int'> <class 'bool'>

In [ ]:
n3 += n4 # n3 = n3 + n4
print(n3)

16

In [ ]:
n3 -= n4 # n3 = n3 - n4
print(n3)
n3 *= n4 # n3 = n3 * n4
print(n3)
n3 /= n4 # n3 = n3 / n4
print(n3)
n3 %= n4 # n3 = n3 % n4
print(n3)

6
60
6.0
6.0

In [ ]:
n3 = 100
print(n3,n4)
n3 //= n4 # n3 = n3 // n4
print(n3)
n3 **= n4 # n3 = n3 ** n4
print(n3)

100 10
10
10000000000

5.3 Relational operators

In [ ]:
# Relational Operators

n1 = 10
n2 = 10.5
n3 = complex(2,3)
n4= False
print(type(n1), type(n2))

<class 'int'> <class 'float'>

In [ ]:
print(n1 == n3)

False

In [ ]:
#int and float matches
n2 = 10.0
print(n1==n2)

True

In [ ]:
#is it not equal?
print(n1 != n3)

True

In [ ]:
print(n1 > n3.real)
print(n1 < n3.real)
print(n1 >= n3.real)
print(n1 <= n3.real)

True
False
True
False

5.4 Logical operators

In [ ]:
# Logical Operators

b1 = True
b2 = False
print(b1, b2)

True False

In [ ]:
b3 = not b2
print(not b1, b3)

False True

In [ ]:
#Truth Table of AND
print('Input-1 | Input-2 | Output')
print('-------------------------')
print(b1, b2, b1 and b2)
print(b1, not b2, b1 and not b2)
print(not b1, not b2, not b1 and not b2)
print(not b1, b2, not b1 and b2)

Input-1 | Input-2 | Output
-------------------------
True False False
True True True
False True False
False False False

Practice: Prepare the truth tables for the OR, NAND, NOR, XOR, XNOR operations. Then you display the truth values of each operations in python.

In [ ]:
print(True + False)
print('\n')

1

Exercise 4: Take four numbers as input. Display whether the sum of the first two numbers is greater than or equal to the sum of the latter two numbers

In [ ]:
ap1 = float(input('Enter the 1st Integer:'))
ap2 = float(input('Enter the 2nd Integer:'))
ap3 = float(input('Enter the 3rd Integer:'))
ap4 = float(input('Enter the 4th Integer:'))

x = ap1 + ap2
y = ap3 + ap4
print(x >= y)

Enter the 1st Integer:1
Enter the 2nd Integer:5
Enter the 3rd Integer:7
Enter the 4th Integer:8
False

5.5 Bitwise operators in Python

In [ ]:
# Bitwise Operators

i1 = 15 # 1111
i2 = 6 #  0110

In [ ]:
#bitwise and operation
print(i1 & i2)

#1111
#bitwise or operation
print(i1 | i2) 

#1001
# bitwise xor operator
print(i1 ^ i2) 


# one's complement
print(~i1) 

#111100
#left shift
print(i1 << 2) 

#0011
#right shift
print(i1 >> 2)

6
15
9
-16
60
3

Exercise 5: Take three numbers as input. Display the result of a bitwise and operation on the first two numbers. Also display the result of performing a two's complement on the third number.

5.6 Membership operators

In [ ]:
# Membership Operators

#Whether present in String
print('str' in 'string')

#Whether not present in String
print('ni' not in 'string')

True
True

In [ ]:
print('not' in 'convenient')
print('not' not in 'convenient')

False
True

5.7 Identity operators

In [ ]:
# 7. Identity Operators
string1 = 'abcd'
string2 = 'abcd'

print(string1 is string2)

True

In [ ]:
string1 is string2

True

In [ ]:
a = 'hen'
b = 'hen'
usr = input('Input a String: ')

print(a is b)

Input a String: Hen
True

In [ ]:
print('The answer is:',a is usr)

The answer is: False

In [ ]:
print(id(a))
print(id(b))
print(id(usr))

#is is use to check whether the two numbers are instances of the same object

140414108577968
140414108577968
140413844606192

In [ ]:
print(a)
print(usr)
a is usr

hen
Hen

False

Excercise 6: Till now what we have studied(without using if and loops) find the maximum and minimum number of given any two numbers.

In [ ]:
a = 45.0
b = 32.0

sum = a + b
diff = abs(a - b)

max = 0.5*(sum + diff)
min = 0.5*(sum - diff)

print(max)
print(min)

45.0
32.0

6. String Operations

lower() converts the string into lower case

upper() converts the string into UPPER case

swapcase() converts lower to UPPER and vice versa

count() count how many times a specific value occurs within string

index() search for a specific value and returns its index

split() split the string into different parts based on seperator

More Functions:
find(), isascii(), isdecimal(), isspace(),replace(), splitlines()

In [ ]:
inp_string = input()
print(inp_string.lower())
print(inp_string.upper())
print(inp_string.swapcase())
print(inp_string.count('a'))
print(inp_string.count('to'))
print(inp_string.index('explore'))
print(inp_string.split(","))

Artemis missions aim to "land the first woman and first person of colour on the Moon", explore the lunar surface, and lay the groundwork for sending astronauts to Mars.
artemis missions aim to "land the first woman and first person of colour on the moon", explore the lunar surface, and lay the groundwork for sending astronauts to mars.
ARTEMIS MISSIONS AIM TO "LAND THE FIRST WOMAN AND FIRST PERSON OF COLOUR ON THE MOON", EXPLORE THE LUNAR SURFACE, AND LAY THE GROUNDWORK FOR SENDING ASTRONAUTS TO MARS.
aRTEMIS MISSIONS AIM TO "LAND THE FIRST WOMAN AND FIRST PERSON OF COLOUR ON THE mOON", EXPLORE THE LUNAR SURFACE, AND LAY THE GROUNDWORK FOR SENDING ASTRONAUTS TO mARS.
11
2
87
['Artemis missions aim to "land the first woman and first person of colour on the Moon"', ' explore the lunar surface', ' and lay the groundwork for sending astronauts to Mars.']

In [ ]:
spam_mail = "You have won an amount of 1 Million Dollar. Follow this simple Steps to CLAIM your prize!"
spam_mail = spam_mail.lower()
if spam_mail.find('won') and spam_mail.find('claim'):
  print('this is a spam mail')

this is a spam mail

7. Lists and Tuples

List and Tuple can store different types of multiple objects

list_dat = ['elements']

tuple_dat = ('elements')

In Python, there are different data types: string, integer, and float. This datatypes can be contained in lists and tuples.

TUPLE

In [ ]:
#Defining a tuple
Tuples = (10, 9, 8, 7, 6) #tuple of same data types
Tuple1 = (20.4, 11, "abcd4567") #tuple of different data types
print(Tuple1[1])

11

In [ ]:
#Combining Tuple
Tuple2 = (56, "Anaconda")
Tuple3 = Tuple1 + Tuple2 #like an append operation
print(Tuple3)

(20.4, 11, 'abcd4567', 56, 'Anaconda')

In [ ]:
#Slicing Tuples
Tuple = Tuple1[0:2] #starting index to ending index
print(Tuple)

(20.4, 11)

In [ ]:
#Nesting
NT = (3,8, ("guitar","piano"), ("sitar",(45, 71)), (68,97))
print(NT[2][1])

piano

LIST

In [ ]:
#Defining a List
List = [8, 6, 11, 14, 5]
List1 = [5.6, 8, 7.9, ("tree", "cloud")]
print(List[1])
print(List1[2:4])

6
[7.9, ('tree', 'cloud')]

In [ ]:
Lists = sorted(List)
print(Lists)

[5, 6, 8, 11, 14]

Difference of List and Tuple

In [ ]:
list_1 = [8, 6, 'NASA', 'Atremis', 4.5]
tuple_1 = (8, 6, 'NASA', 'Atremis', 4.5)

In [ ]:
list_1[2] = 10
list_1

[8, 6, 10, 'Atremis', 4.5]

List is Mutable and Tuple is immutable

8. Dictionary

The keys have to be immutable.

The values can be immutable, mutable and duplicates

Dictionaries are denoted with curly Brackets {}

The key can be string, integer, list or tuple

In [ ]:
#Creating a dictionary
Dict = {"A": 56, "B": 98, "C" : "Fire", "D" : (10, 4)}
print(Dict)

{'A': 56, 'B': 98, 'C': 'Fire', 'D': (10, 4)}

In [ ]:
#Accessing value in a dictionary
print(Dict["B"])

98

In [ ]:
#Deleting entries by key
del(Dict["B"])
print(Dict)

{'A': 56, 'C': 'Fire', 'D': (10, 4)}

In [ ]:
#Sorting Tuples, the sorted tuple is stored in a list which is mutable
Tuples = (10, 9, 8, 7, 6)
Tuple = sorted(Tuples)
Tuple[2] = 17
Tuple

[6, 7, 17, 9, 10]


<h2 align="left"><u>What are Conditional statements?</u> if-elif-else</h2>
What are Conditional statements? if-elif-else

In [1]:
# General structure

# if result of condition1:
#     statement(s)

# elif condition2:
#     statement(s)

# elif condition3:
#     statement(s)

# ...

# elif conditionN:
#     statement(s)

# else:
#     statement(s)

In [2]:
a1 = 7
a2 = 7

if a1 > a2:
    print('a1 is greater')
elif a1 < a2:
    print('a2 is greater')
else:
    print('a1 and a2 are equal')

a1 and a2 are equal

In [3]:
inp_1 = 123
inp_2 = 342

if inp_1 == inp_2:
  print("both strings are equal")
else:
  if inp_1 < inp_2:
    print("inp_2 is greater than inp_1 with a difference ", inp_2 - inp_1)
  else:
    print("inp_2 is smaller than inp_1 with a difference ", inp_1 - inp_2)

inp_2 is greater than inp_1 with a difference  219

Exercise 1: Write a program that takes an integer as input, and prints whether the number is odd or even.

In [4]:
x = int(input("Enter an integer:"))

if x % 2 == 1:
    print(x, 'is odd')
else:
    print(x, 'is even')

Enter an integer:4
4 is even

Python Follows INDENTATIONS instead of bracket in C

a. There are no braces {} in Python to demarcate blocks of code

b. Indentations (whitespaces) demarcate blocks of code

c. Changes in indentation mark where a block begins, and where it ends

d. A common convention: 4 spaces (or 1 tab, which the editor converts to 4 spaces)

In [5]:
a1 = 10
a2 = 20
a3 = 30

if a1 == 10:
    if a2 == 10:
        if a3 == 20:
            print('ABCD')
        else:
            print('EFG')
    else:
        print('IJKL')
else:
    print('2023')

IJKL

8. Loops

To do an action Repeatatively

In [6]:
# range() - a function that performs an iterated operation 
# from first index to last index using a difference as step

For Loop


for index in range(starting index, last index, step):

  do task

In [8]:
# range(t) : goes from 0 to t-1
#Default step is 1
for i in range(0, 5): # [0, 1, 2, 3, 4, 5]
    print(i)

0
1
2
3
4

In [9]:
# range(start, end, step_size)

for i in range(2, 7,2):
    print(i)

2
4
6

In [10]:
cnt = 0
for i in range(5,10):
    if cnt==3:
      break
    print(i)
    cnt = cnt + 1

5
6
7

In [11]:
# Opposite step direction
#### FORWARD DIRECTION
for i in range(0,10,2):
    print(i)
    
print('\n')

#### BACKWARD DIRECTION
for i in range(8,-1,-2):
    print(i)

0
2
4
6
8


8
6
4
2
0

In [12]:
# Iterate over strings

str1 = 'the satellite'

for i in str1:
    print(i)

t
h
e

s
a
t
e
l
l
i
t
e

In [13]:
# Iterate more explicitly:
print(str1[6])

t

In [14]:
for i in range(len(str1)):
    print(i+1, str1[i])

1 t
2 h
3 e
4
5 s
6 a
7 t
8 e
9 l
10 l
11 i
12 t
13 e

While Loop

while Condition:

  Statement(s)

In [15]:
i = 0 #Initialzation of iterator (say i)

while i <= 24: #Put the condition on the iterator / Starting from i = 0 ending in 24
    print(i)
    i += 4 #Increment of the iterator / step in For Loop

0
4
8
12
16
20
24

Exercise: Do these programs using for and while loops both

Write a program to print the odd integers upto 100.

Then COUNT for odd integers which are divisible by 3 when the odd number is greater than 50.

In [16]:
i = 0
count_odd = 0
count = 0
while i <= 100:
    if i%2!=0:
        count_odd = count_odd + 1
        if i > 50 and i %3 ==0:
          count = count + 1

    i += 1
print("Odd integers divisible by 3 within 50 to 100: ",count,"\nOdd integers within 0 to 100:",count_odd)

Odd integers divisible by 3 within 50 to 100:  9
Odd integers within 0 to 100: 50

9. break, continue

In [17]:
# break

i = 0
while True:
    print(i)
    i += 1
    if i > 10:
        break
        
print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [18]:
for i in range(15):
    print(i)
    if i > 10:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [19]:
# continue

i = 0
while True:
#     continue
    i += 1
    if i > 20:
        break
    elif i <= 10:
        print('before continue')
        continue
        print('something')
        
print(i)

before continue
before continue
before continue
before continue
before continue
before continue
before continue
before continue
before continue
before continue
21

Algorithm:
1. Input a starting and ending index from the user
2. if difference between starting and ending index > 10
    then check for even or odd upto difference 20
    if odd then count the elements which are divisible by 3 and 5
3. else go for a walk and print the elements

10. Functions

In [20]:
# Generic Structure of function in Python

def functionName(argument1, argument2, argumentN):
     statement(s)
     return return1, return2, returnN

# The function maynot return any value.

In [21]:
def addition(n1, n2):
    add_result = n1 + n2
    return add_result #add_result = n1+n2

In [22]:
def substraction(n1, n2):
    subs_result = n1 - n2
    return subs_result #subs_result = n1-n2

In [23]:
def multiplication(n1, n2):
    mult_result = n1 * n2
    return mult_result #mult_result = n1*n2

In [24]:
def division(n1, n2):
    divide_result = n1 / n2
    return divide_result #divide_result = n1/n2

In [25]:
print(addition(20,15))

35

In [26]:
def list_of_my_functions(n1, n2):
    functions = {"add": addition(n1, n2), "substract": substraction(n1,n2), "multiply": multiplication(n1,n2), "divide": division(n1,n2)}
    for i in functions:
        print(i, functions[i])
#return functions

In [27]:
list_of_my_functions(12, 8)

add 20
substract 4
multiply 96
divide 1.5

In [28]:
#Creating a calculator with Addition, Substraction, Multiplication and Division Operation
def calculator(n1, n2):
    sum_, substract, multiplication, division = n1 + n2, n1-n2, n1*n2, n1/n2
    print('Sum: ', sum_)
    print('substract: ', substract)
    print('multiplication: ', multiplication)
    print('division: ', division)

In [29]:
calculator(4,2)

Sum:  6
substract:  2
multiplication:  8
division:  2.0

Exercise: 
1. Write to program to make a calculator using function. 
2. Ask users to put the name of the operation that they want to perform. 
3. Next ask them to give the numbers for performing their chosen operations.
4. Finally dispaly the result.

In [30]:
#Function to check whether a number is even or not
def even_1(n):
    if n % 2 == 0:
        is_even = True
    else:
        is_even = False
    return is_even

In [31]:
#Purpose of this funtion is simiiar  to the last function 
def even_2(n):
    is_even = (n % 2 == 0)
    return is_even

In [32]:
#Testing whether a given number is even or not

n1 = 4
print(even_1(n1))

n2 = 7
print(even_2(n2))

True
False

In [33]:
#Let's have a fun calculator
def fun_calculator(n1, n2):
    return n1+n2, n1-n2, n1*n2, n1/n2, n1%n2, n1//n2, n1**n2

a1 = 10
a2 = 4
print(fun_calculator(a1, a2))

a3 = 20
a4 = 4
ret1, ret2, ret3, ret4, ret5, ret6, ret7 = fun_calculator(a3, a4)
print(ret1, ret2, ret3, ret4, ret5, ret6, ret7)

(14, 6, 40, 2.5, 2, 2, 10000)
24 16 80 5.0 0 5 160000

In [34]:
#Addition with default value set to n2 and n3

def ADD(n1, n2=4, n3=5):
    sum = n1+n2+n3
    return sum

In [35]:
print(ADD(n1=58, n3=1))

print(ADD(n1=55, n2=2))

print(ADD(n1=54))

print(ADD(n1=7, n2=10, n3=12))

63
62
63
29

In [36]:
# Setting the default exponent values to 1

def power(x, p=1):
    return x**p

In [37]:
#Setting the exponent as default
print(power(x=10))

#Setting the exponent value to 3
print(power(10, 3))

10
1000

In [38]:
# Default values MUST be filled from the right and hence results in an error

def power(x=1,p):
    return x**p

print(power(10, 3))

SyntaxError: ignored

Simple Real Life Scenarios

Spam Email Detection

In [39]:
def spam_checker(spam_mail):
  spam_mail = spam_mail.lower()
  if spam_mail.find('won') and spam_mail.find('claim'):
    print('this is a spam mail')
  else:
    print('Not a spam Mail!')

In [40]:
str_1 = "You have won an amount of 1 Million Dollar. Follow this simple Steps to CLAIM your prize!"
spam_checker(str_1)

this is a spam mail

Tax Deduction System

In [41]:
def slab2(net_sal):
  return net_sal * .05  

def slab3(net_sal):
  return 12500 + net_sal * .10


def slab4(net_sal):
  return 37500 + net_sal * .15

def slab5(net_sal):
  return 75000 + net_sal * .20

def slab6(net_sal):
  return 125000 + net_sal * .25

def slab7(net_sal):
  return 187500 + net_sal * .30

In [42]:
def slab_checker(net_sal):
  if net_sal < 250000:
    print("Deducted Amount 0")
  elif net_sal > 250000 and net_sal < 500000:
    print("Deducted Amount: ", slab2(net_sal))
  elif net_sal > 500000 and net_sal <  750000:
    print("Deducted Amount: ", slab3(net_sal))
  elif net_sal > 750000 and net_sal <  1000000:
    print("Deducted Amount: ", slab4(net_sal))
  elif net_sal > 1000000 and net_sal <  1250000:
    print("Deducted Amount: ", slab5(net_sal))
  elif net_sal > 1250000 and net_sal <  1500000:
    print("Deducted Amount: ", slab6(net_sal))
  elif net_sal > 1500000:
    print("Deducted Amount: ", slab7(net_sal))

In [43]:
sal = float(input("Enter your Salary:"))
slab_checker(sal)

Enter your Salary:50000
Deducted Amount 0

Restaurant Bill Payment System

In [44]:
bill_amount = float(input("Enter the Bill Amount:"))
c_gst = s_gst = 0.025 * bill_amount
print("C GST", c_gst)
print("S GST", s_gst)
choice = input("Do you want to pay Service charge? Y/N: ")
if choice == 'Y':
  service_charge = .07 * bill_amount
  print("Service Charge", service_charge)
else:
  service_charge = 0

total_bill = service_charge + c_gst + s_gst + bill_amount
print("Your bill amount is:", total_bill)

Enter the Bill Amount:2200
C GST 55.0
S GST 55.0
Do you want to pay Service charge? Y/N: y
Your bill amount is: 2310.0